.react-calendar { 
    width: 600px;
    padding: 5px;
    max-width: 100%;
    background-color: white;
    color: rgb(54, 10, 60);
    border-radius: 6px;
    box-shadow: 0 10px 22px rgba(94, 3, 112, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.12em;
    
   }
   .react-calendar__navigation button {
    color: #440364;
    min-width: 50px;
    font-size :16px;
    background: none;
    padding: 5px;
    margin-top: 10px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   .react-calendar__month-view__days__day--weekend {
    color: #d70303;
   }
 
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* Change to the desired background color (purple) */
  color: #7102a9; /* Change to the desired text color (white) */
  border-radius: 6px;
  font-weight: bold;
  background:white;
  box-shadow: 0 2px 4px rgba(113, 2, 169, 0.2); 
}

   .react-calendar__tile--now {
    background:#7102a9;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #440364;
    border-radius: 6px;
    font-weight: bold;
    color:#440364;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background:#440364;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #440364;
    color: magenta;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    color:#f8f8fa;
    
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background:#440364;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #440364;
    color: white;
   }
  